* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    
   
    /* margin: 0 30px 0 30px;*/
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 16px;
  }

  /*
nav{
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color:#EFA7A7;
  text-transform: uppercasel
}
*/

  #app{
    margin-left: -60px;
    margin-right: -60px;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formHolder{
    width: 900px;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
  }

  .formHolder input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 50%;
    border: none;
    border-bottom: 2px solid #000;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
   
  }

.formTop{
    position: relative;
    margin-top: 40px;

}

.formTop .imageBtn{
    position: absolute;
    right: 0;
    top:15px;
    cursor: pointer;
    width: 110px;
    height: 36px;
    background-color: #EFA7A7;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

 /* .formDesc, .formInstr {
    margin-top: 100px;
    background-color: blanchedalmond;
  }
.formDesc .descAddBtn{
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: #EFA7A7;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    bottom: 5px;
    cursor: pointer;
    right: 0;
}
.formInstr .instrAddBtn{
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: #EFA7A7;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    bottom: 5px;
    cursor: pointer;
    right: 0;
} */
.formDesc, 
.formInstr { 
margin-top: 100px; 
position: relative; 

} 

 

.formDesc .descAddBtn { 

position: absolute; 
width: 40px; 
height: 40px; 
background-color: #EFA7A7; 
color: #ffffff; 
display: flex; 
align-items: center; 
justify-content: center; 
border-radius: 50%; 
bottom: 5px; 
right: 0; 
cursor: pointer; 

} 

 

.formInstr .instrAddBtn { 

position: absolute; 
width: 40px; 
height: 40px; 
background-color: #EFA7A7; 
color: #ffffff; 
display: flex; 
align-items: center; 
justify-content: center; 
border-radius: 50%; 
bottom: 5px; 
right: 0; 
cursor: pointer; 

}   
.btn{
    width: 422px;
    height: 54px;
    background-color: #EFA7A7;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50px;
    margin-bottom: 109px;
    cursor: pointer;
    font-size: 25px;
  }

  .yr{
    width: 100%;
    height: 100vh;
      
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 242, 200, 0.674)), to(rgba(84, 242, 200, 0.674))), url(../img/recipe-hero.jpg);
    background-image: linear-gradient(rgba(84, 242, 200, 0.674), rgba(84, 242, 200, 0.674)), url(../img/recipe-hero.jpg);
    background-blend-mode: normal;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }
  .yr .pizza{
    width: 522px;
    height: 263px;
   
    display: flex;
  }
  .yr .pizza .imgpizza{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/recipe-pizza.jpg);
    background-blend-mode: normal;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    
  }
  

  .yr .pizza .imgpizza a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd972;
      border: 1px solid #ffd972;
      border-radius: 50px;
      width: 127px;
      height: 42px;
      text-decoration: none;
      font-size: 20px;
      cursor: pointer;
      font-family: "Caveat", sans-serif;
      color: #000000;
      text-align: center;
      filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2588235294));

  }
  
  .yr .pizza .edbtn{
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 270px;
  }
  .yr .pizza .edbtn a{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2588235294));
    background-color: #ffd972;
      border: 1px solid #ffd972;
      border-radius: 50px;
      width: 127px;
      height: 42px;
      text-decoration: none;
      font-size: 20px;
      cursor: pointer;
      font-family: "Caveat", sans-serif;
      color: #000000;
   
  }

  .yr .edbtn{
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 270px;
    margin-bottom: 30px;
    }
    .yr  .edbtn a{
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2588235294));
      background-color: #ffd972;
        border: 1px solid #ffd972;
        border-radius: 50px;
        width: 127px;
        height: 42px;
        text-decoration: none;
        font-size: 20px;
        cursor: pointer;
        font-family: "Caveat", sans-serif;
        color: #000000;
     
    }
.yr .pizza .blockre{
  width: 224px;
  background-color: #ffffff;
  height: 263px;
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

.yr .pizza .blockre .info{
 text-align: center;
}
.yr .pizza .blockre .info .time {
  width: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yr .pizza .blockre .info .time .tim{
  width: 23px;
  height: 24px;
  background-image: url(../img/time.svg);
  margin-right: 10px;

}

.yr .pizza .blockre .info .num {
  width: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yr .pizza .blockre .info .num .nu{
  width: 23px;
  height: 24px;
  background-image: url(../img/servings.svg);
  margin-right: 10px;
}
  .vr { 

    width: 522px; 
   
    padding-top: 20px; 
    
    /* background-color: bisque; */ 
    
    min-height: 200px; 
    
    } 
    
     
    
    .recipeHolder { 
    
    width: 100%; 
    
    display: flex; 
    
    justify-content: space-between; 
    
    flex-wrap: wrap; 
    
    } 
    
     
    
    .recipe { 
    
    width: 400px; 
    
    min-height: 200px; 
    
    /* background-color: antiquewhite; */ 
    
    margin-bottom: 20px; 
    
    } 
    
     
    
    .recipe .imageHolder { 
    
    width: 200px; 
    
    height: 200px; 
    
    border-radius: 20px; 
    
    overflow: hidden; 
    
    margin-bottom: 20px; 
    
    } 
    
     
    
    .recipe .imageHolder img { 
    
    display: block; 
    
    width: 100%; 
    
    height: 100%; 
    
    object-fit: cover; 
    
    } 
    
     
    
    .descriptions { 
    
    margin-bottom: 20px; 
    
    } 
    
     
    
    ol, 
    
    ul { 
    
    margin-left: 20px; 
    
    } 

    /* footer */

    footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin: 0 auto;
    }
    footer .copy span {
      width: 266px;
      font-size: 15px;
      font-family: "Lato", sans-serif;
      font-style: italic;
    }
    footer .links {
      width: 638px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-family: "Lato", sans-serif;
      font-style: italic;
    }
    footer .links a {
      font-size: 15px;
      text-decoration: none;
      color: black;
    }
    footer .social {
      width: 78px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    footer .social img {
      width: 19px;
      height: 19px;
      cursor: pointer;
    }
    /* home */
    .home {
      width: 100%;
      
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 92, 84, 0.674)), to(rgba(242, 92, 84, 0.674))), url(../img/hero.jpg);
      background-image: linear-gradient(rgba(242, 92, 84, 0.674), rgba(242, 92, 84, 0.674)), url(../img/hero.jpg);
      background-blend-mode: normal;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      
      
    }
    .home .content {
      height: calc(100vh - 50px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .home .content .box {
      height: 500px;
      width: 500px;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
    }
    .home .content .box .circle1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 357px;
      height: 357px;
      background-color: #ffd972;
      border-radius: 50%;
      z-index: 1;
      -webkit-filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2588235294));
              filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2588235294));
    }
    .home .content .box .circle1 .text {
      margin-top: 30px;
    }
    .home .content .box .circle1 .text h1 {
      width: 220px;
      font-size: 24px;
      font-family: "Caveat", sans-serif;
    }
    .home .content .box .circle1 .text p {
      width: 164px;
      font-size: 13px;
      font-family: "Lato", sans-serif;
      margin-left: 30px;
    }
    .home .content .box .circle2 {
      width: 167px;
      height: 167px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-color: #fcbcbb;
      font-size: 10px;
      border-radius: 50%;
      position: absolute;
      top: 20px;
      right: 10px;
      -webkit-filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2588235294));
              filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2588235294));
    }
    .home .content .box .circle2 .text2 {
      width: 105px;
    }
    .home .content .box .circle2 .text2 p {
      font-size: 10px;
      font-family: "Lato", sans-serif;
    }
    /* nav */
    .nav-holder {
      height: 113px;
      padding: 0 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    .nav-holder a {
      text-decoration: none;
    }
    .nav-holder .logo a {
      text-decoration: none;
    }
    .nav-holder .logo a img {
      width: 250px;
      height: 55px;
    }
    .nav-holder ul {
      list-style: none;
      height: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
    .nav-holder ul a {
      color: rgb(0, 0, 0);
      font-family: "Caveat", sans-serif;
      font-size: 20px;
    }
    .nav-holder ul li {
      margin-left: 10px;
      padding: 5px;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }
    .nav-holder ul li:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    .nav-holder ul li:active {
      text-decoration: underline;
      color: black;
    }
    .nav-holder .login {
      width: 158px;
      height: 50px;
      background-color: #ffd972;
      border: 1px solid #ffd972;
      border-radius: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2588235294));
              filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2588235294));
      cursor: pointer;
    }
    .nav-holder .hamburger-icon {
      display: none;
      margin: auto 0;
      cursor: pointer;
    }
    .nav-holder .hamburger-icon div {
      width: 35px;
      height: 3px;
      background-color: #000000;
      margin: 6px 0;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    .nav-holder .open .bar1 {
      -webkit-transform: rotate(-45deg) translate(-6px, 6px);
              transform: rotate(-45deg) translate(-6px, 6px);
    }
    .nav-holder .open .bar2 {
      opacity: 0;
    }
    .nav-holder .open .bar3 {
      -webkit-transform: rotate(45deg) translate(-6px, -6px);
              transform: rotate(45deg) translate(-6px, -6px);
    }
    .nav-holder .open .mobile-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
    .nav-holder .mobile-menu {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      height: calc(100vh - 50px);
      width: 100%;
    }
    .nav-holder .mobile-menu li {
      margin-bottom: 10px;
    }
    /* login*/
    .login {
      background-color: #ffd972;
      width: 100%;
    }
    .login .acco {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 600px;
      margin-bottom: 191px;
    }
    .login .acco .login-sign {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 233px;
      height: 300px;
      margin-bottom: 25px;
    }
    .login .acco .login-sign p {
      font-size: 16px;
    }
    .login .acco .login-sign h2 {
      font-size: 26px;
      text-align: left;
      font-family: "Caveat", sans-serif;
    }
    .login .acco .login-sign input {
      border: none;
      border-bottom: 1px solid #000000;
      width: 233px;
      margin-top: 50px;
      font-size: 16px;
      background-color: #ffd972;
      color: black;
      font-size: 12px;
      font-family: "Caveat", sans-serif;
    }
    .login .acco .login-sign .log {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .login .acco .login-sign .log p {
      font-size: 16px;
      font-family: "Caveat", sans-serif;
    }
    .login .acco .login-sign .log input {
      width: 170px;
      height: 45px;
      border: none;
      background-color: #ffd972;
      color: #000000;
      border: none;
      font-size: 16px;
      cursor: pointer;
      border-radius: 30px;
      -webkit-filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2588235294));
              filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2588235294));
    }

    @media screen and (max-width: 768px) {
      footer {
        margin-top: 10px;
        width: 90%;
        margin-bottom: 10px;
      }
      footer .copy span {
        width: auto;
        font-size: 10px;
      }
      footer .links {
        width: auto;
      }
      footer .links a {
        margin-left: 10px;
        font-size: 10px;
      }
    }